<div class="backgroundContainer">
    <div class="loginPanel">
        <div class="text-center">
                <h1 class="panelHeading">Sign in to EATON</h1><br>
        </div>
        <div class="form__group">
                <label for="idUserName" class="form__label">EMAIL ADDRESS</label>
                <input type="text" class="form__input" id="idUserName" placeholder="Enter email address">
        </div>
        <div class="form__group" >
                <label for="idPassword" class="form__label">PASSWORD</label>
                <input type="password" class="form__input" id="idPassword" placeholder="Enter password">
                <a href="#" class="form__help">Forgot password?</a>
        </div>
        <div class="text-center">
                <button class="btnStyle" id="idSubmitBtn" (click) = "verifyLogin($event)">SIGN IN</button>
        </div>
    </div>
</div>